body {
  padding: 50px;
  font: 14px "微软雅黑", Helvetica, Arial, sans-self;
}
a {
  color: #00B7FF;
}
#content {
  width: 800px;
  margin: 0 auto;
}
#room {
  background-color: #ddd;
  /* margin-bottom: 1em; */
}
#messages {
  width: 690px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin: 0 10px 1em 0;
}